.authLayoutStyles {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.registerForm {
  width: 400px;
}

.fullWidth {
  width: 100%;
}

.error {
  border: 1px solid red;
  border-radius: 4px;
}

.marginTop {
  margin-top: 1rem;
}